<div *ngIf="product.name" class="card">
  <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <div class="card-text">
      <div class="row">
        <span class="card-text col-6 text-danger">{{ product.price | currency:'LKR' }}</span>
        <span class="card-text col-6 text-right bg-warning text-dark">
          <i class="fa fa-tags"></i> 5% Off
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a *ngIf="showActions" href="" class="btn btn-success btn-block">Add to Cart</a>
  </div>
</div>