<div class="row">
  <div class="col-md-4">
    <div class="pro-img-details">
      <img [src]="product.imageUrl" alt="product-image">
    </div>
    <!-- <div class="pro-img-list">
      <a href="#">
        <img src="http://thevectorlab.net/flatlab/img/product-list/pro-thumb-1.jpg" alt="">
      </a>
      <a href="#">
        <img src="http://thevectorlab.net/flatlab/img/product-list/pro-thumb-2.jpg" alt="">
      </a>
      <a href="#">
        <img src="http://thevectorlab.net/flatlab/img/product-list/pro-thumb-3.jpg" alt="">
      </a>
      <a href="#">
        <img src="http://thevectorlab.net/flatlab/img/product-list/pro-thumb-1.jpg" alt="">
      </a>
    </div> -->
  </div>
  <div class="col-md-6">
    <h4 class="pro-d-title">
      <h3>{{product.name}}</h3>
    </h4>
    <p>
      {{product.description}}
    </p>
    <div class="product_meta">
      <span class="posted_in"> <strong>Categories:</strong>
        <a rel="tag" href="#">Pasta</a>,
        <a rel="tag" href="#">Soup</a>
      </span>
      <span class="tagged_as">
        <strong>Tags:</strong> <a rel="tag" href="#">vegetarian</a>, <a rel="tag" href="#">healthy</a>
      </span>
    </div>
    <div class="m-bot15"> <strong>Price : </strong>
      <span class="amount-old"> {{ product.price | currency: 'LKR' }} </span>
      <span class="pro-price"> {{ product.price | currency: 'LKR' }} </span>
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="number" class="form-control quantity" [ngModel]="quantity" (ngModelChange)="valueChange($event)"
        min="1">
    </div>
    <p>
      <button class="btn btn-success" type="button" (click)="addToCart()">
        <i class="fa fa-shopping-cart"></i> Add to Cart
      </button>
      <button class="btn btn-danger" type="button" (click)="removeFromCart()"> Remove </button>
    </p>
  </div>
</div>