<div class="row">

  <div class="col-md-3">
    <product-card [product]="product" [show-Actions]="false"></product-card>
  </div>

  <div class="col-md-6">
    <form #productForm="ngForm" (ngSubmit)="save(productForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          Name is Required
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Rs.</span>
          </div>
          <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control"
            required [min]="0">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is Required</div>
          <div *ngIf="price.errors.min">Price should be greater than 0</div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control"
          required>
          <option value=""></option>
          <option *ngFor="let category of categoryList" [value]="category.code">{{category.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is Required
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control"
          required url>
        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
          <div *ngIf="imageUrl.errors.required">Image Url is Required</div>
          <div *ngIf="imageUrl.errors.url">Image Url is Invalid</div>
        </div>
      </div>

      <button class="btn btn-success">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>

</div>